*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    background-color: grey;
    display: flex;
    flex-direction: column;
}
header{
    width: 100vw;
    height: 15vh;
    display: flex;
}
h1{
    text-shadow: 5px 5px 5px rgb(50, 184, 184);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 1, 1);
}
h2{
    text-shadow: 5px 5px 5px rgb(50, 184, 184);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 1, 1);
}
nav{
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0);;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boton{
    width: 10%;
}
.logo{
    width: 13%;
    height: 100%;
}
.searchingbar{
    width: 20%;
    height: 30%;
}
.pincel{
    width: 8%;
    height: 100%;
}
img{
    width: 100%;
}
div{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 50px;
    margin: 50px;
}
main{
    width: 100vw;
    /* min-height: 400vh; */
    background-color: #644f9f;
    display: flex;
    flex-direction: row;
}
section{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
aside{
    display: flex;
    flex-direction: column;
    background-color: #513E85;
    width: 17%;
    color: aliceblue;
}
.logindiv{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}
.logintit{
    margin-bottom: 10px;
    padding-right: 100px;
}
.email{
    width: fit-content;
}
.password{
    width: fit-content;
    margin-top: 5px;
}
.yeartxt{
    margin-top: 20px;
}
.authortxt{
    margin-top: 20px;
}
.sidey{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}
.genreinp{
    width: fit-content;
}
.yearinp{
    width: fit-content;
}
.authorinp{
    width: fit-content;
}
.kami{
    width: fit-content;
    height: 150px;
    margin-top: 50px;
    box-shadow: 10px 5px 5px aqua;
}
.kamibut{
    margin-top: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(117, 234, 255);
    width: 70px;
}
.fifty{
    width: fit-content;
    height: 150px;
    margin-top: 50px;
    box-shadow: 10px 5px 5px aqua;
}
.fiftybut{
    margin-top: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(117, 234, 255);
    width: 70px;
}
.huelladelmal{
    width: fit-content;
    height: 150px;
    margin-top: 50px;
    box-shadow: 10px 5px 5px aqua;
}
.huellabut{
    margin-top: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(117, 234, 255);
    width: 70px;
}
.antonlavey{
    width: fit-content;
    height: 150px;
    margin-top: 50px;
    box-shadow: 10px 5px 5px aqua;
}
.laveybut{
    margin-top: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(117, 234, 255);
    width: 70px;
}
footer{
    width: 100vw;
    height: 100%;
    display: flex;
    background-color: #443471;
}
.footy{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
ul{
    color: antiquewhite;
    font-size: 20px;
    list-style: none;
}
.logoUpgrade{
    width: 32%;
    height: 70%;
}